body{
	background: #F3F5FC;
}
header{
	padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.principal{
	font-family: 'Inter';
	font-weight: bold;
	font-style: normal;
	font-size: 32px;
	color: #0A3871;
}
.caixa-esquerda{
	position: absolute;
	width: 680px;
	height: 300px;
	left: 240px;
	top: 168px;
	
}
#text{
	color: #0A3871;
	width: 80%;
	height: 60%;
	border: none;
	outline: none;
	font-family: 'Inter';
	font-style: normal;
	font-size: 32px;
	text-align: left;	
	background: #F3F5FC;
}
.caixa-direita{
	background:#FFFFFF;
	position: absolute;
	width: 400px;
	height: 700px;
	left: 1000px;
	top: 40px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}
#imgquality{
	position: absolute;
	margin-bottom:397px;
	margin-left:32px;
	margin-top: 50px;
	margin-right:32px;
}
#texto{
	position: absolute;
	top: 400px;
	margin-left: 32px;
	margin-right: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
}
#texto2{
	position: absolute;
	top: 450px;
	margin-left: 32px;
	margin-top: 32px;
	color: #495057;
	width: 336px;
	height: 100px;
	border: none;
	outline: none;
	font-family: 'Inter';
	font-style: normal;
	font-size: 16px;
	text-align: center;
	
}
.botao{
	position: absolute;
	width: 680px;
	height: 67px;
	left: 240px;
	top: 650px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	
}
 
#btn-criptografar{
	
	position: static;
	margin: 0px 24px;
	padding: 24px;
	width: 328px;
	height: 67px;
	border-radius: 24px;
	background:#0A3871;
	border: 1px solid #0A3871;
	box-sizing: border-box;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	
}
#btn-criptografar:hover { 
	background-color: #CED4DA; 
	transition: 0.5s;
	color:#0A3871;
}
#btn-descriptografar{
	position: static;
	width: 328px;
	height: 67px;
	left: 352px;
	top: 0px;
	padding: 24px;
	border-radius: 24px;
	margin-left: 10%;
	background: #FFFFFF;
	border: 1px solid #0A3871;
	box-sizing: border-box;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #0A3871;
}
#btn-descriptografar:hover { 
	background-color: #CED4DA; 
	transition: 0.5s;
}
.mensagem{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	position: absolute;
	width: 252px;
	height: 18px;
	left: 18px;
	
}
.aviso{
	position: absolute;
	width: 228px;
	height: 18px;
	left: 250px;
	top: 500px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;
	
}


#imgexclamation{
	position: static;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 1px;
	margin: 0px 8px;
}

#btn-copiar{
	position: absolute;
	background-color: #FFFFFF;
	width: 336px;
	height: 67px;
	margin-left: 32px;
	top: 610px;
	padding: 24px;
	border: 1px solid #0A3871;
	box-sizing: border-box;
	border-radius: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #0A3871;
	display:none;
			
}
#btn-copiar:hover { 
	background-color: #CED4DA; 
	transition: 0.5s;
}
footer{
	position:absolute;
	width:100%;
	top: 800px;
	text-align: center;
	background: #0A3871;
	
}
.footer-content{
	padding: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}
.social-list{
	position: relative;
	margin-top:10%;
	margin-left: 50%;
	transform: translate(-50%,-50%);
	
}
.social-list a{
	display: inline-flex;
	width: 100px;
	height: 50px;
	background: #FFFFFF;
	color: #0A3871;
	margin: 0 6px;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	transition:0.4s;
	font-size: 20px;
}	
	
.social-list a:hover{
	background:#CED4DA;
	
}
.social-list a i{
	transition: 00.4s all;
  
}
.social-list a:hover > i{
  transform: scale(1.6) rotate(25deg);
  
}

